body{
    background: radial-gradient(circle, rgba(145, 219, 7, 0.644), rgba(0, 0, 255, 0.562), rgba(128, 0, 128, 0.562) );
}

h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
}
img{
    margin-left: 575px;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px;
}
#song_form{
    background-color: springgreen;
    margin-left: 300px;
    margin-right: 300px;
    border-radius:  20px;
    box-shadow: 15px 15px rgba(8, 230, 108, 0.527);
    padding: 10px;
}
label{
    display: block;
}
input{
    width: 700px;
}
#form{
    display: block;
    padding: 5px;
    width: 700px;
    background-color: chartreuse;
    border-radius: 3px 3px;
    
}
footer{
    background-color: chartreuse;
    margin-left: -7px;
    margin-right: -7px;
    margin-bottom: -7px;
    padding: 5px;
    text-align: center;
}
#eliminar{
    padding: 5px;
    background-color: chartreuse;
    border-radius: 3px 3px;
}
hr{
    border: black solid 2px;
}
ul{
    background-color: aquamarine;
}